*{
    font-family: cursive;
    text-align: center;
    background-color: #E8EBEE;
  }
  #pass{
    margin-top: 25px;
  }
  .enter-btn{
    margin: 35px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    /* border: 0.1rem solid rgb(230, 123, 36);*/
    border-radius: 11px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: rgba(240, 164, 101, 0.267);
  }
  .enter-btn:hover{
    color:rgb(230, 123, 36);
    /* border-color: black; */
    transform: translateY(4px);
    background-color: whitesmoke;
  }
  main{
    padding-top: 45px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: start;
    justify-items: start;
    margin-left:auto ;
    margin-right: auto;
  }
  
  input{
    border-left:none;
    border-right: none;
    border-top:none;
    text-align: start;
    width: 170px;
    height: 30px;
    background-color: transparent;
    color: black;
    font-size: 15px;
  }
  
  input:focus{
    border:none;
    outline:none;
    /* border-color: rgb(84, 184, 84); */
    border-bottom:2px solid rgb(230, 123, 36);
  
  }
  input::placeholder{
    color: rgb(230, 123, 36);
  }
  article{
     grid-column-start:2;
     grid-column-end: 3;
  }
  .add-btn{
    grid-row-start:6 ;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    /* border: 0.1rem solid rgb(230, 123, 36);*/
    border-radius: 11px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: rgba(240, 164, 101, 0.267);
    /* width: 150px;
    height: 50px;
    font-size: 21px;
    text-align: center;
    border: 0.1rem solid rgb(230, 123, 36);
    border-radius: 3rem;
    color: rgb(230, 123, 36);
    cursor: pointer;
    background-color: transparent; */
  }
  .add-btn:hover{
    color:rgb(230, 123, 36);
    /* border-color: black; */
    transform: translateY(4px);
    background-color: whitesmoke;
  }
  span{
    color: rgb(230, 123, 36);
  }
  footer{
    font-size: 20px;
    background-color: transparent;
    height: 150px;
    /* padding-bottom: 20px; */
  }
  .hidden{
    display:none;
  }
  